@model JellyFish.Models.View_Models.JobPostingViewModel





@{
    ViewData["Title"] = "Create";
}





<h1>Create</h1>





<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="job.Title" class="control-label"></label>
                <input asp-for="job.Title" class="form-control" />
                <span asp-validation-for="job.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="job.Location" class="control-label"></label>
                <input asp-for="job.Location" class="form-control" />
                <span asp-validation-for="job.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="job.Salary" class="control-label"></label>
                <input asp-for="job.Salary" class="form-control" />
                <span asp-validation-for="job.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="job.CategoryId" class="control-label">Category</label>        
                <select asp-for="job.CategoryId" class="form-select" asp-items="@Model.CategoryList">
                    <option disabled selected>--Select Category--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="job.JobTypeId" class="control-label">Job Type</label>
                <select asp-for="job.JobTypeId" class="form-select" asp-items="@Model.JobTypeList">
                    <option disabled selected>--Select Job Type--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="job.LevelId" class="control-label">Level</label>
                <select asp-for="job.LevelId" class="form-select" asp-items="@Model.LevelList">
                    <option disabled selected>--Select Level--</option>
                </select>
            </div>



            <div class="form-group">
                <label asp-for="job.Description" class="control-label"></label>
                <textarea asp-for="job.Description" rows="15" cols="10" class="form-control"></textarea>
                <span asp-validation-for="job.Description" class="text-danger"></span>
            </div>
            @{
                DateTime currentTime = DateTime.Now;
                <input type="hidden" value="@currentTime" asp-for="job.CreatedDate" />
            }

            @{
                string statusValue = "Active";
                <input type="hidden" value="@statusValue" asp-for="job.IsActive" />
            }

            <input type="hidden" value="@ViewBag.EmployerId" asp-for="job.EmployerId" />
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>




<script>
    tinymce.init({
        selector: 'textarea',
        width: 600,
        height: 300,
        plugins: [
            'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview',
            'anchor', 'pagebreak',
            'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code',
            'fullscreen', 'insertdatetime',
            'media', 'table', 'emoticons', 'template', 'help'
        ],
        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
            'forecolor backcolor emoticons | help',
        menubar: 'favs file edit view insert format tools table help',
        content_css: 'css/content.css'
    });
</script>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}